

h1{
    color: teal
}

.background-image {
    background-image: url('./asset/kolkata-map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  